body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu {
    text-align: center;
    display: flex;
    justify-content: center;
}

#main {
    min-height: 800px;
    border: 1px solid;
}

#footer {
    background-color: black;
}

a {
    color: black;
    text-decoration-line: none;
    
}